{%extends "gameLayout.html"%} {% block content2 %}
<div style="justify-self: center;">

    <form class="form join-game" action="" style="text-align: center;">
        <h1 style="word-wrap: break-word; white-space: normal;">Enter Random Matchmaking</h1>
        <a class="form-submit join-game-btn" onclick="joinPublicGame()" style="color: white;">
            Find Public Game
            <img style="height: 40px; width: 40px;" src="{{url_for('static', filename='games-media/globe-icon.png')}}" alt="">
        </a>
    </form>

    <form class="form join-game" action="">
        <input id="roomID" class="form-control" type="text" placeholder="Enter Game ID" style="height: 70px; margin: 20px 0 20px 0; font-size: 25px; border-radius: inherit;">
        <a class="form-submit join-game-btn" onclick="joinPrivateGame()" style="color: white;">Find Game</a>
    </form>
</div>

<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='jsFiles/joinGame.js')}}"></script>
{% endblock %}