{%extends 'layout.html'%} {% block content%}
<div class="page-container">

    <form method="post">
        <div class="form">
            {{ form.hidden_tag()}}
            <h1 style="color: orange; text-decoration: underline; margin-bottom: 20px;">Login</h1>

            <div class="form-item">
                {{form.username.label(class='form-control-label')}} {%if form.username.errors%} {{form.username(class='form-control form-control is-invalid')}}
                <div class='invalid-feedback'>
                    {%for error in form.username.errors%}
                    <span>{{ error }}</span> {%endfor%}
                </div>

                {% else %} {{form.username(class='form-control',placeholder="Enter Username",id='username')}} {%endif%}
            </div>


            <div class="form-item">
                {{form.password.label(class='form-control-label')}} {%if form.password.errors%} {{form.password(class='form-control is-invalid')}}
                <div class='invalid-feedback'>
                    {%for error in form.password.errors%}
                    <span>{{ error }}</span> {%endfor%}
                </div>
                {% else %} {{form.password(class='form-control',placeholder="Enter Password")}} {%endif%}
            </div>

            <small class="check-button form-item">
          {{form.remember(class='form-check-input')}}
          {{form.remember.label(class='form-check-label')}}
        </small>


            <div class="form-item">
                <small class='text-muted'>
            <h6>Don't have an Account?<a class='ml-2 sign-up-link' href = '{{url_for("register")}}'> Sign Up </a></h6> 
          </small>
            </div>
            {{form.submit(class='form-item form-submit')}}
        </div>
    </form>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
</div>


{% endblock %}